*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial,sans-serif;
}

/* Navbar */

.navbar{
    position: sticky;
    top: 0;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.logo{
    font-size: 28px;
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.hero{
    height: 100vh;
    background-image: url(/Image/heropage/herosection.jpg);
    background-size:cover ;
    background-position: center;
}

.overlay{
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 4rem;
}

.hero-content p{
    margin: 20px 0;
}

.hero-content button{
    padding:15px 30px;
    border:none;
    cursor:pointer;
    background:orange;
    color:white;
    font-size:18px;
}

/* features */

.features{
    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 60px 20px;
}

.feature{
    padding: 20px;
}
@media (max-width:768px) {
    .navbar{
        flex-direction: column;
        gap: 20px;
    }

    .nav-links{
        flex-direction: column;
        text-align: center;
    }
    
    .hero-content h1{
        font-size:2.5rem;
    }
    .features{
        flex-direction: column;
        align-items: center;
    }

}